@font-face {
    font-family: Montserrat;
    src: url('../montserrat/Montserrat-Black.ttf');
    src: url('../montserrat/Montserrat-Bold.ttf');
    src: url('../montserrat/Montserrat-Medium.ttf');
}

/* Resets */
* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* ABOUT SECTION */
.info {
    min-height: 60px;
    background: #757575;
    min-height: 60px;
    border-right: 7px solid #FA8100;

    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    margin-right: 20px;
}



.backButton {
    height: 35px;
    width: 35px;
}

.info p {
    font-weight: bolder;
    color: white;
    animation: bounceInLeft;
    animation-duration: 1.5s;
}


/* left sidde */
.timeline-resume {
    min-height: 700px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}


/* Left side */
.timeline-left {
    /* flex: 1 1 400px; */
    max-width: 1000px;
    margin: 0 auto;
}

.info-box {
    min-height: 60px;
}

.name {
    font-size: 1.6em;
    color: #333;
}

.title p {
    margin-left: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #FA8100;
    background: whitesmoke;
}

.name span {
    color: white;
    font-size: 1.3em;
    -webkit-text-stroke: 1px #FA8100;
}

.introduction {
    max-width: 98%;
    margin: 20px auto;
    padding: 10px 0;
}

/* Skills */
.skills {
    min-height: 200px;
    margin-top: 20px;
}

.title-skills {
    display: flex;
    min-height: 60px;
    align-items: center;
}

.title-skills img {
    margin: 10px;
    height: 30px;
    width: 30px;
}

.skills-shared {
    max-width: 500px;
    padding: 10px;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills-shared figure {
    height: 10px;
    flex: 1 1 400px;
    max-width: 320px;
    background: #757575;
}

.progress-bar > figcaption {
    background: #FA8100;
    height: inherit;
}

.percentage-html {
    width: 75%;
}

.percentage-js {
    width: 30%;
}

.percentage-nodejs {
    width: 20%;
}

.percentage-mysql {
    width: 30%;
}


/* KNOWLEDGES ARTICLE */
.knowledges {
    margin-top: 20px;
}

.knowledges-title {
    background: whitesmoke;
}


.knowledges-div ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.knowledges-div ul li {
    flex: 1 1 400px;
    height: 30px;
    padding: 10px;
    list-style-position: inside;
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: .8em;
}

.contact {
    margin-right: auto;
    padding: 10px;
}

.contact-buttons {
    width: 100%;
}

.contact-buttons img {
    height: 35px;
    width: 35px;
    margin: 10px;
}




/* Right side OF THE RESUME*/
.timeline-right {
    /* flex: 1 1 400px; */
    /* overflow-y: scroll; */
    max-width: 1000px;
    margin: 0 auto;
    align-self: center;
}  

/* Education */
.title img {
    height: 38px;
    width: 38px;
    margin-right: 40px;
}

.bold-title {
    font-weight: bolder;
    font-size: 1.1em;
    justify-content: flex-start;
}


.timeline-main {
    min-height: 400px;
    position: relative;
    margin-top: 20px;
}

.timeline-main::before {
    position: absolute;
    content: '';
    left: 40px;
    height: 100%;
    width: 2px;
    /* background: #757575; */
    background: #757575;
}

.timeline-main ul {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 20px;
}

.timeline-main ul li {
    position: relative;
    width: 90%;
    list-style: none;
    margin-left: auto;
}

/* ELEMENTS LI */
.timeline-main ul li:nth-of-type(odd) {
    float: left;
    text-align: right;
    width: 22px;
    height: 22px;
    background: #333;
    border-radius: 50%;
    border: 4px solid #FA8100;
    margin: 5px;
    margin-left: 9px;
    /* margin-bottom: -25px; */
    padding: 5px;
    clear: both;
}

.timeline-main ul li:nth-of-type(even) {
    float: right;
    border-left: 1px solid #757575;
    min-height: 200px;
    margin: 0 20px 0 60px;
    /* max-width: fit-content; */
    clear: both;
}

/* Editing the timeline */
.present {
    font-weight: bold;
    color: white;
    margin-left: 7px;
}

.year {
    width: 160px;
    background: #FA8100;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 0 0);
}

.education-name {
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px 20px;
}

.location-pin {
    padding-left: 30px;
}

.outcomesEdu {
    padding: 15px;
    display: flex;

    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.outcomesEdu p {
    margin-top: 8px;
    font-size: .9em;
}

.work-time {
    margin-top: 30px;
}

.work {
    margin-top: 20px;
    border-left: 1px solid #333;
    margin-bottom: 20px;
}




/* MEDIAQUERRY */
@media only screen and (max-width: 600px) {
    .info p {
        display: none;
    }

    .info a {
        margin-left: auto;
    }

    /* Timeline settings */
    .timeline-main ul li:nth-of-type(odd) {
        display: none;
    }

    .timeline-main::before {
        left: 8px;
    }

    .timeline-main ul li:nth-of-type(odd) {
        display: none;
    }

    .timeline-main ul li:nth-of-type(even) {
        margin-left: 20px;
        margin-top: 20px;
    }
    
  }



  /* FOR 450px */
  /* MEDIAQUERRY */
@media only screen and (max-width: 450px) {
    .skills-shared {
        display: block;
        padding-left: 20px !important;
        height: 30px !important;
        margin-top: 10px;
    }
  }

